:root{
    --light-blue: #ecf8f8;
    --pink-beige: #eee4e1;
    --light-brown: #c1701f;
    --pink-red: #e6beae;
    --brown: #fa7907;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, serif;

    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;

}
/* HEADER FOR ALL PAGES */
header{

    display: flex;
    flex-wrap:wrap;
    justify-content: center; /* Push items to far left and right */
    align-items: flex-start; /* Align them to the top */
    background: radial-gradient(circle, #5c9ecf, #4f99c8, #1e85cf);
    font-family: Bahnschrift, serif;
    box-shadow: 0 5px 5px #95b2bc;
}




.video-wrapper {
    flex-grow: 1; /* to dont have padding etc... take all space */
    position: relative; /* for video absolute positioning */
}

/* Video fills wrapper */
#home-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* to take the whole page*/
    opacity: 0.2;
    z-index: 0;
}

#title p{
    font-size: 2em;
    background-color: white;
    padding: 2px 30px ;
    border-radius: 3px;
}

#title{
    position: absolute;
    left: 50%;
    top: -55px;
    padding: 0;
    height: 50px;
}
#toCenter{
    position: relative;
    left:-50%;
    height: 100%;
    padding: 1px;
}


.link-container{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #1e85cf;
    margin: 10px;
    border-radius: 40px;
    align-content: center;
    top:40%;
}

.link-container:hover{
    background-color: #10476e;
}
.doodles{
    position: absolute;
    width: 50px;
    z-index: 4;
}
#counter{
    right: 20%;
    top: 20%;
    width:50px;
    rotate: 20deg;
}

#pencil{
    bottom: 10%;
    width: 30px;
    left: 20%;
    rotate: -30deg;
}
#ruler{
    top : 25%;
    left: 30%;
    rotate: -80deg;
}

#sphere{
    bottom: 30%;
    right: 40%;
    rotate: 10deg;
}
#book{
    bottom: 20%;
    right: 5%;
    width: 70px;
}


#multiplication-container{
    left:10%;
}

#division-container{
    right: 10%
}


.link-container p{
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 1.5em;
    color: white;
    text-decoration: underline;
}



footer{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 -3px 5px #95b2bc;
    background-color: white;
    text-align: center;
    line-height:10px;
    padding-bottom:10px;
}

footer a{
    text-decoration:none;
    color:black;
}

footer a:hover{
    background-color: #9c9c9c;
    padding:4px;
    border-radius: 4px;

}

/*@media only screen and (max-width: 800px) {*/
/*    .link-container{*/
/*        left: 40%*/
/*    }*/
/*}*/