:root{
    --light-blue: #ecf8f8;
    --pink-beige: #eee4e1;
    --light-brown: #e7d8c9;
    --pink-red: #e6beae;
    --brown: #b2967d;
}

/* MULTIPLICATION AND DIVISION TABLES STYLE */

#tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%; /* Space between columns and rows */
    justify-content: space-evenly; /* Optional: center align tables */
    padding: 2px;

}

#tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%; /* Space between columns and rows */
    justify-content: center; /* Optional: center align tables */
    padding: 2px;

}

.tables-content {
    border: 2px solid black;
    border-collapse: collapse;
    min-width:120px;
    text-align: center;
    margin-bottom: 20px;


}
.tables-content caption {
    font-weight: bold;
    margin-bottom: 5px; /* space between caption and table*/

}

.tables-content td {
    padding: 4px 8px; /* 4 (top and bottom) 8 (left and right) */
}

.tables-content.hidden-table { /* select element with boss classes*/
    border: none;

}

.tables-content.hidden-table tr {
    display: none;
}

.tables-content.hidden-table caption {

    display: block;

}