/*For all h1 titles*/
h1{
    text-align:center;
    font-size:32px;

}
/* Title table of multiplication*/

#title {
    position: relative;
    margin-top:40px;
    padding: 4rem;
    z-index: 0;
    overflow: hidden;
    margin-bottom:40px;

}

#title::before { /*to add background (c'était trop relou autrement) */
    content: "";
    position: absolute;

    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPmItc1mINwuFycYe93aI6Akb95_ONQFkN0Q&s");
    background-size: cover;
    border: 2px solid black;
    border-radius: 6px;
    width:600px;
    margin:auto;
    background-repeat: no-repeat;
    opacity: 0.60;
    z-index: -1;
}

#main-explanation{
    width: 65%;
    margin: 50px auto 20px auto ;
    padding:45px;
    border-radius: 5%;
    background-color: white;
}

.highlight{
    font-weight: bold;

}
#main-explanation p{
    padding-left:12px;
    line-height: 17px;
    margin-top:0;
}

.subtitle{
    padding-left:5px;
    line-height: 1px;
    margin-top:20px;
    text-decoration: underline;
}

#youtube-video{
    margin:40px auto 10px auto;
    padding:0;
    border:4px double black;
    border-radius:5px;
    width:fit-content;

}
#youtube-video h1{
    padding:0;
    margin:0;
}

iframe{
    display:block;
    margin:auto; /*margin only works for block elements only, that's why display block*/
    width:500px;
    padding:0;

}

/* MULTIPLICATION TABLES STYLE */


#tables{ /* FOR TITLE */
    background-color: var(--light-blue);
    padding-top:5px;
    width:80%;
    margin:30px auto 40px auto;
    border-radius:20px; /* px bc smaller item*/

}
#tables-container { /* ALL MULTIPLICATION TABLES */
    display: flex;
    flex-wrap: wrap;
    gap: 5%; /* Space between columns and rows */
    justify-content: center; /* Optional: center align tables */
    padding: 2px;
    max-width: 1000px;
    margin:auto;

}

/* WHEN NOT HIDDEN */
.tables-content {

    border: 2px solid black;
    border-collapse: collapse;
    min-width:120px;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--light-blue);

}


.tables-content caption{
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* space between caption and table*/
    background-color: var(--light-blue);



}


.tables-content td {
    padding: 4px 8px; /* 4 (top and bottom) 8 (left and right) */
}

/* WHEN HIDDEN */
.tables-content.hidden-table { /* select element with boss classes*/
    border: none;
    background-color: var(--light-blue);


}

.tables-content.hidden-table tr {
    display: none;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0.95);

}

.tables-content.hidden-table caption {

    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* space between caption and table*/
    background-color: var(--light-blue);
    border: 1px solid black;
    border-radius: 5px;
}

/*HORSE GAME */
#horse-test{
    display:none;
}

#game-title{
    display:block;
}

#horseLogo {
    width: 17%;
    display: block;
    margin: 20px auto ;
    border-radius: 50%;
    cursor:pointer;
    border:1px solid black;
}
#horse-game {
    margin : 10px 10px 30px 10px;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    background-color: var(--pink-red);
}

#Q\&A{
    display: none;
    margin:10px;
}

#levelnb{
    display:none;
}
#result{
    display:none;
    margin:auto;
}
#StartAgain{
    display: none;
    margin:auto;
}

#setUp, #Q\&A{
    text-align: center;
}


.track{
    background-color: white;
    width: 75%;
    height: 30px;
    margin: 30px auto;
    position: relative;
}

.finishLine{
    height: 100%;
    width: 10px;
    background-color: red;
    margin-left: 95%;
}
.runningHorse{
    height : 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#textTimer{
    color : red;
    font-weight: bold;
    font-size: 2.5em;
    display: none;
}