:root{
    --light-blue: #ecf8f8;
    --pink-beige: #eee4e1;
    --light-brown: #e7d8c9;
    --pink-red: #e6beae;
    --brown: #fa7907;
}

html{
    min-height:100%;
    margin:0;
    padding:0;
    background-color: red; /* in case if problem */
}




/* BODY FOR ALL PAGES */
body{

    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, serif;
    background-color: var(--light-brown);

}

/* LINKS */
header a{
    text-decoration: none;
    color: white;
}

/* HEADER FOR ALL PAGES */
header{

    display: flex;
    flex-wrap:wrap;
    justify-content: space-between; /* Push items to far left and right */
    align-items: flex-start; /* Align them to the top */
    background-color: var(--light-blue);
    border-bottom: 2px solid black;
    font-family: Bahnschrift, serif;
    margin-bottom: 10px;

}

header nav{
    display:flex;
    flex-wrap:wrap;

}

header nav a:nth-child(1){

    margin:20px;
    border: 2px solid black;
    padding:10px;
    border-radius: 20%;
    background-color: black;
}

header nav a:nth-child(2){
    margin:20px;
    border: 2px solid black;
    padding:10px;
    border-radius: 10%;
    background-color: black;
}

header nav a:nth-child(3){
    margin:20px;
    border: 2px solid black;
    padding:10px;
    border-radius: 10%;
    background-color: black;
}

header img{
    display:flex;
    flex-wrap:wrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    width:150px;
}

header h2{
    display:flex;
    flex-wrap:wrap;
    margin-top:30px;
    padding-left:10px;

}

footer{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    border-top:2px solid black;
    background-color: var(--light-blue);
    text-align: center;
    line-height:10px;
    padding-bottom:10px;
}

footer a{
    text-decoration:none;
    color:black;
}


/*For all h1 titles*/
h1{
    text-align:center;
    font-size:32px;

}
/* Title table of multiplication*/

#title {
    position: relative;
    margin-top:40px;
    padding: 4rem;
    z-index: 0;
    overflow: hidden;
    margin-bottom:40px;

}

#title::before { /*to add background (c'était trop relou autrement) */
    content: "";
    position: absolute;

    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPmItc1mINwuFycYe93aI6Akb95_ONQFkN0Q&s");
    background-size: cover;
    border: 1px solid black;
    border-radius: 4px;
    width:600px;
    margin:auto;
    background-repeat: no-repeat;
    opacity: 0.35;
    z-index: -1;
}

#main-explanation{
    margin-top:50px;
    margin-bottom:50px;
}

.highlight{
    background-color: #60f6ef;

}
#main-explanation p{
    padding-left:12px;
    line-height: 17px;
    margin-top:0;
}

.subtitle{
    padding-left:5px;
    line-height: 1px;
    margin-top:20px;
    text-decoration: underline;
}

#youtube-video{
    margin:0 auto 10px auto;
    padding:0;
    border:4px double black;
    border-radius:5px;
    width:fit-content;

}
#youtube-video h1{
    padding:0;
    margin:0;
}

iframe{
    display:block;
    margin:auto; /*margin only works for block elements only, that's why display block*/
    width:500px;
    padding:0;

}

/* MULTIPLICATION TABLES STYLE */


#tables{ /* FOR TITLE */
    background-color: var(--pink-red);
    padding-top:5px;

}
#tables-container { /* ALL MULTIPLICATION TABLES */
    display: flex;
    flex-wrap: wrap;
    gap: 5%; /* Space between columns and rows */
    justify-content: center; /* Optional: center align tables */
    padding: 2px;
    max-width: 1000px;
    margin:auto;

}

/* WHEN NOT HIDDEN */
.tables-content {

    border: 2px solid black;
    border-collapse: collapse;
    min-width:120px;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--light-blue);

}


.tables-content caption{
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* space between caption and table*/
    background-color: var(--light-blue);



}


.tables-content td {
    padding: 4px 8px; /* 4 (top and bottom) 8 (left and right) */
}

/* WHEN HIDDEN */
.tables-content.hidden-table { /* select element with boss classes*/
    border: none;
    background-color: var(--pink-red);


}

.tables-content.hidden-table tr {
    display: none;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0.95);

}

.tables-content.hidden-table caption {

    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* space between caption and table*/
    background-color: var(--light-blue);
    border: 1px solid black;
    border-radius: 5px;
}

/*HORSE GAME */
#horse-test{
    display:none;
}

#game-title{
    display:block;
}

#horseLogo {
    width: 17%;
    display: block;
    margin: 20px auto ;
    border-radius: 50%;
    cursor:pointer;
    border:1px solid black;
}
#horse-game {
    margin : 10px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#Q\&A{
    display: none;
}

#StartAgain{
    display: none;
}

#setUp, #Q\&A{
    text-align: center;
}


.track{
    background-color: white;
    width: 75%;
    height: 30px;
    margin: 30px auto;
    position: relative;
}

.finishLine{
    height: 100%;
    width: 10px;
    background-color: red;
    margin-left: 95%;
}
.runningHorse{
    height : 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#textTimer{
    color : red;
    font-weight: bold;
    font-size: 2.5em;
    display: none;
}